<%- include('includes/header')%>
  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading text-center">User Log in</h2>
      <label class="sr-only">User Name</label>
      <input type="email" name="Username" class="form-control" placeholder="Username" required autofocus>
      <label class="sr-only">Password</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
      <p>No Account <a href="/users/register">Register</a></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div>
  <!-- /container -->
  <%- include('includes/footer')%>
